pregunta2/WindowsFormsApplication1/WindowsFormsApplication1/Service References/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="tblAlumno">
        <s:complexType />
      </s:element>
      <s:element name="tblAlumnoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tblAlumnoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insAlumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mat" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pra" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="prg" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insAlumnoResponse">
        <s:complexType />
      </s:element>
      <s:element name="actAlumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mat" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pra" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="prg" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="actAlumnoResponse">
        <s:complexType />
      </s:element>
      <s:element name="eliAlumno">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliAlumnoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="tblAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:tblAlumno" />
  </wsdl:message>
  <wsdl:message name="tblAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:tblAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="insAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:insAlumno" />
  </wsdl:message>
  <wsdl:message name="insAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:insAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="actAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:actAlumno" />
  </wsdl:message>
  <wsdl:message name="actAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:actAlumnoResponse" />
  </wsdl:message>
  <wsdl:message name="eliAlumnoSoapIn">
    <wsdl:part name="parameters" element="tns:eliAlumno" />
  </wsdl:message>
  <wsdl:message name="eliAlumnoSoapOut">
    <wsdl:part name="parameters" element="tns:eliAlumnoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="tblAlumno">
      <wsdl:input message="tns:tblAlumnoSoapIn" />
      <wsdl:output message="tns:tblAlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insAlumno">
      <wsdl:input message="tns:insAlumnoSoapIn" />
      <wsdl:output message="tns:insAlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="actAlumno">
      <wsdl:input message="tns:actAlumnoSoapIn" />
      <wsdl:output message="tns:actAlumnoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliAlumno">
      <wsdl:input message="tns:eliAlumnoSoapIn" />
      <wsdl:output message="tns:eliAlumnoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tblAlumno">
      <soap:operation soapAction="http://tempuri.org/tblAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insAlumno">
      <soap:operation soapAction="http://tempuri.org/insAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actAlumno">
      <soap:operation soapAction="http://tempuri.org/actAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliAlumno">
      <soap:operation soapAction="http://tempuri.org/eliAlumno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tblAlumno">
      <soap12:operation soapAction="http://tempuri.org/tblAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insAlumno">
      <soap12:operation soapAction="http://tempuri.org/insAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actAlumno">
      <soap12:operation soapAction="http://tempuri.org/actAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliAlumno">
      <soap12:operation soapAction="http://tempuri.org/eliAlumno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:39973/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:39973/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>